*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #535353;
}
/**
pattern
1 - height and width
2 - background 
3 - position
4 - transform
5 - borders
6 - extra
**/

.gizmo {
    background-color: rgb(122, 38, 38);
    height: 380px;
    width: 300px;
    position: absolute;
    left: 20%;
    top: 10%;
    border-radius: 20px;
    box-shadow: 12px 12px 10px #000000 ;
}
.gizmo button {
    background-color: #534040;
    color: rgb(177, 184, 77);
    position: relative;
    left: 70%;
    top: 3%;
    border-radius: 15%;
    font-size: 10px;
}

h2 {
    position: relative;
    left: 85%;
}

.gizmo-screen {
    height: 200px;
    width: 240px;
    position: relative;
    background-color: rgb(216, 221, 226);
    left: 10%;
    top: 6%;
    border-radius: 10px;
}

.gizmo-screen img {
    width: 130px;
    position: relative;
    left: 50px;
}
h1 {
    position: relative;
    align-self: center;
 }

 .gizmo-controls {
    position: relative;
    top: 10%;
 }

 #bback {
    width: 20px;
    height: 20px;
    position: relative;
    background-color: #535353;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
 }
 #bnext {
    width: 20px;
    height: 20px;
    position: relative;
    background-color: #535353;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
 }